.card-box {
  text-align: center;
  width: 42vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 26px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  transition: 2s;
  cursor: pointer;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 1rem;
}

.card-box img {
  width: 100%;
  object-fit: cover;
}
.card-box .upcoming_jewellery-box-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 4rem;
}
.card-box .upcoming_jewellery-box-text .MainPrice {
  display: flex;
  gap: 2rem;
}
.card-box .upcoming_jewellery-box-text h5 {
  font-size: 1.2rem;
}
.card-box .like {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.linkClass{
  text-decoration: none;
  color: black;
}


.textdecoration{
  text-decoration: line-through;
}